/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Sora", sans-serif;
}
a {
  text-decoration: none;
  color: #12233b;
}
/* end fonts */

/* start header */
.header .main-logo {
  font-size: 24px;
  font-weight: 800;
}
.header .nav-item {
  padding: 0 13px;
}
.header .ads {
  margin: auto;
}
@media (min-width: 768px) {
  .header .ads .img-two {
    display: none;
  }
}
@media (max-width: 767px) {
  .header .ads .img-one {
    display: none;
  }
}
/* end header */
/* about */
.about-heading h2 {
  font-size: 40px;
  font-weight: 800;
}
.about-first-paragraph p {
  font-size: 16px;
  line-height: 155%;
}
.about-second-paragraph p {
  font-size: 16px;
  line-height: 155%;
}
.about-second-paragraph ul {
  list-style-position: outside;
}
.about-second-paragraph li {
  line-height: 145%;
  padding: 14px 0;
}
.about-second-paragraph li::marker {
  font-size: 1.5rem;
  color: #0056fd;
}

.about-heading-two {
  font-size: 32px;
  font-weight: 800;
}
.about-rounded-circle {
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0056fd;
  width: 50px;
  border-radius: 50%;
}
.about-second-part p {
  line-height: 145%;
  color: #12233b;
}
.ads-two {
  height: 20vh;
  background-image: url(../assets/Ads-two.png);
  width: 95%;
  background-repeat: no-repeat;
  border-radius: 0px 10px 10px 10px;
}
.hr {
  width: 100%;
  height: 2px;
  background-color: #e8f0ff;
  /* border: 2px solid red; */
}

/* start contact */
.contact-details h2 {
  font-size: 40px;
  font-weight: 800;
}
@media (max-width: 768px) {
  .contact-details h2 {
    font-size: 30px;
  }
}
.contact-details p {
  font-size: 18px;
  font-weight: 400;
  color: #a0a7b1;
}
.contact-details a {
  font-size: 32px;
  font-weight: 700;
  color: #0056fd;
}
@media (max-width: 768px) {
  .contact-details {
    margin-top: 1rem;
  }
  .contact-details a {
    font-size: 18px;
  }
}
.about-heading h2 {
  font-size: 40px;
  font-weight: 800;
}
@media (max-width: 768px) {
  .about-heading h2 {
    font-size: 30px;
  }
}
.contact-first-paragraph p {
  font-size: 16px;
  line-height: 155%;
}
.contact-second-paragraph p {
  font-size: 16px;
  line-height: 155%;
}

.contact-heading-two h2 {
  font-size: 32px;
  font-weight: 800;
}
.contact-rounded-circle {
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0056fd;
  width: 50px;
  border-radius: 50%;
}
.contact-second-part p {
  line-height: 145%;
  color: #12233b;
}
.footer .main-logo {
  font-size: 24px;
  font-weight: 800;
}
a:hover {
  color: #12233b;
}
.footer .footer-backtotop img {
  width: 34px;
  height: 34px;
}
.footer .copyright {
  font-size: 12px;
  color: #12233b;
  font-weight: 400;
}
.footer h6 {
  font-size: 12px;
  color: #12233b;
  font-weight: 400;
}
@media (min-width: 768px) {
  .contact .img-two {
    display: none;
  }
}
@media (max-width: 767px) {
  .contact .img-one {
    display: none;
  }
}
@media (min-width: 768px) {
  .about .img-two {
    display: none;
  }
}
@media (max-width: 767px) {
  .about .img-one {
    display: none;
  }
}
